body{
	overflow: hidden;
}
h2{
	font-size: 0.87em;
	font-weight: normal;
}

.choix{
	display: flex;
	margin-left: 4%;
	margin-right: 4%;
	padding-bottom:  100%;
	justify-content: space-around;
	background-color: lightgrey;
	border-radius: 10px;
}
.add{
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}